$custom: rgb(247, 147, 26) !default; //#F7931A
$primary: $custom;
$link: $custom;
$danger: $custom;
$info: white;
$warning: lightgrey;
$success: black;

// Used for the dashboard:
// reduced horizontal and vertical padding
$section-padding-medium: 0rem 0.75rem;
